@model IEnumerable<AspNetMvcDocker.Dominio.Models.Produto>
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width">
    <title>Asp Net Core MVC Docker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="text-center">
        <h1 class="display-4">Olá Docker</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <div class="" m-1 p-1>
        <h4 class="bg-primary text-xs-center p-1 text"></h4>
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Preco</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ProdutoId</td>
                        <td>@item.Nome</td>
                        <td>@item.Categoria</td>
                        <td>$@item.Preco.ToString("F2")</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</body>

</html>